{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  New - {{ parent() }}
{% endblock %}

{% block appbundle_body %}

  <h2>New job</h2>

  {{ include("AppBundle:Job:form.html.twig") }}

{% endblock %}