{% extends "::layout.html.twig" %}

{% block title %}
  Jobs - {{ parent() }}
{% endblock %}

{% block body %}

  {# Common sub-title for the bundle #}
  <h1>Jobs</h1>

  <hr>

  {# Body for the bundle #}
  {% block appbundle_body %}
  {% endblock %}

{% endblock %}