{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Edit advert - {{ parent() }}
{% endblock %}

{% block appbundle_body %}

  <h2>Edit advert</h2>

  {{ include("AppBundle:Advert:form.html.twig") }}

  <p>
    <a href="{{ path('advert_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to the advert
    </a>
  </p>

{% endblock %}